#timer {
    background-color:rgba(78, 149, 78, 0.758);
    font-size: 3em;
    border-radius: 3px;
    padding-left: 5px;
    margin-bottom: 5px;
}


.center-container {
    text-align: center;
}


.hide{
    display: none;
}

#start-button {
    background-color: rgba(78, 149, 78, 0.758);
    border-radius: 5px;
    width: 30vw;
    height: 20vw;
    font-size: 2rem;
    
}

#question-container {
    border-top: black solid 1px;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vh;
    padding-bottom: 5vh;
}

#answer-buttons-element {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;

}

.btn {
    margin-top: 5px;
    background-color: blueviolet;
    border-color: blueviolet;
    border-radius: 10px;
    color: white;
}

.btn:hover {
    background-color: black;
}

#initials {
    width: 25vw;
    height: 6vh;
    margin-bottom: 5px;
}

.initials-button {
    background-color: black;
    border-radius: 10px;
    width: 25vw;
    height: 6vh;
    color: white;
    border-color: blueviolet;
}

.initials-button:hover {
    background-color: blueviolet;
}